body{
    margin: 0px;
}

#header{
    height: 75vh;
    opacity: 0.9;
    background-image: url(macbook.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2 rem;

}

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin:0px;
}
.horizontal-list li{
    display: inline-block;
    margin: 10px 15px 15px 0px;
    font-weight: 100;
    font-size: 25px;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
    
}
.nav-menu li a{
    transition:color 0.5s,border-bottom 4s;
}
.nav-menu li a:hover{
    color:lightgrey;
    border-bottom: 3px solid whitesmoke;
}

/* general class */
.text-center{
    text-align: center;
}

/* name and social icons */
#name-social-container{
    margin-top: 30vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1 rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5 rem;

}
#my-name:hover{
    color: aqua;
}

.social-icons li a i{
    padding: 10px;
    font-size: 2 rem;
    border-radius: 50%;
    text-decoration: none;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px lightgray;
}

section{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color:lightgray;
}

section:nth-child(2n+1){
    background-color:white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5 rem;
}

/* about section */
#about{
    height: auto;
    width: 100%;
    position: relative;
}
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -12vh;
}
#my-image img{
    height:100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 3px white;
}
#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}

.skills-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.skill-progress{
    width: 300px;
    height: 100 px;
    background-color: lightgray;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 30px;
    text-align: center;
}
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}
.skill-name span{
    color: white;
    font-size: 1 rem;
    margin-left: 10px;
    
}
/* timeline */
.timeline{
    position: relative;
    width: 75%;
    
}

.timeline-box{
    position: relative;
    margin: 5px;
    width: 30%;
    left: 5%;
    min-height: 100px;
    /* border: 2px solid black; */
}
.timeline-box:nth-child(2n){
    left: 53%;
}
.timeline-divider{
    position: absolute;
    height: 80%;
    width: 0;
    border: 2px dashed blue;
    top: 10%;
    left: 50%;
}
.timeline-traveller{
    position: -webkit-sticky;
    top: 35%;
    transform: rotate(90 deg);
}

.content{
    width: 100%;
}
.content img{
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    float: left;
}
.content h1{
    width: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* contact */
#contact{
    background-image: linear-gradient(to bottom right,orange,white,green);
}
.contact-panel{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-form{
    width: 49%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contact-form div{
    margin-bottom: 10px;
}
.contact-address{
    width: 49%;
    font-size: large;
    font-weight: 300;
    display: flex;
    flex-direction: column; 
    
}
.contact-address div{
    margin-bottom: 20px;
}

#footer{
    height:75px;
    background-color: black;
    color: white;
}

/* basic classes */
.mb75px{
    margin-bottom: 55px;
}
.eighty-five-percent{
    width: 85%;
}
.fifty-five-percent{
    width: 55%;
}
.sixty-five-percent{
    width: 65%;
}
.eighty-percent{
    width: 80%;
}
.mb-blue{
    background-color: blue;
}
.mb-green{
    background-color: green;
}
.mb-red{
    background-color: red;
}
.mb-yellow{
    background-color: yellow;
}
.mb-pink{
    background-color: pink;
}

